body{
background-color: #bababa;
background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
}

#log{
  background-color: #7c8e8f;
  background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  width: 50%;
  position: relative;
  left: 20%;
}



